<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
		<ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
	
	  <div class="footer-col footer-col-2">
        <!--{%- include social.html -%}-->
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | newline_to_br -}}</p>
      </div>
    </div>
	
	Organizadores:
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-1">
			<img src="{{ site.baseurl}}/assets/img/logo_chipusm.png" alt="Logo ChipUSM" width="300"/>
		</div>
		<div class="logos-col logos-col-1">
			<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="350"/>
		</div>
    </div>
	Colaboradores:
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_rama_bicolor.png" alt="Logo Rama IEEE" width="250"/>
		</div>
		<div class="logos-col logos-col-2">
			<!--<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="250"/>-->
		</div>
		<div class="logos-col logos-col-2">
			<!--<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="250"/>-->
		</div>
    </div>
	Patrocinadores:
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_ieee.png" alt="Logo IEEE" width="200"/>
		</div>
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_eds.png" alt="Logo EDS" width="180"/>
		</div>
		<div class="logos-col logos-col-2">
			<!--<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="350"/>-->
		</div>
    </div>
	
  </div>

</footer>
