<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name" style="display: flex; align-items: center; gap: 15px;">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            
            <a href="https://www.instagram.com/chip_usm/" target="_blank" rel="noopener noreferrer" style="display: flex; align-items: center;">
              <img src="{{ site.baseurl }}/assets/img/tu_logo_instagram.png" alt="Instagram ChipUSM" style="width: 40px; height: auto;">
            </a>
            
            <a href="https://linktr.ee/chip_usm" target="_blank" rel="noopener noreferrer" style="display: flex; align-items: center;">
              <img src="{{ site.baseurl }}/assets/img/logo_linktree.png" alt="Linktree ChipUSM" style="width: 40px; height: auto;">
            </a>
          </li>

          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>
    
      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | newline_to_br -}}</p>
      </div>
    </div>
    
    <h1 class="home-title" style="text-align: center; font-weight: 800; font-size: 32px; color: #222222; letter-spacing: 1.5px; text-transform: uppercase; margin-top: 50px; margin-bottom: 30px;"> Organizadores: </h1>
    
    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 30px; width: 100%;">
        <div style="display: flex; justify-content: center;">
            <a href="https://chipusm.github.io/ChipUSM/" target="_blank" rel="noopener noreferrer">
                <img src="{{ site.baseurl}}/assets/img/logo_chipusm.png" alt="Logo ChipUSM" width="350"/>
            </a>
        </div>
        
        <div style="display: flex; justify-content: center;">
            <img src="{{ site.baseurl}}/assets/img/ed_centro_sf2.png" alt="ED Centro" width="300"/>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="{{ site.baseurl}}/assets/img/sscs_centro_sf2.png" alt="SSCS Centro" width="300"/>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="{{ site.baseurl}}/assets/img/cass_sinfondo.png" alt="CAS Centro" width="300"/>
        </div>
    </div>
    
    <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); margin: 50px auto; width: 90%;">

    <h1 class="home-title" style="text-align: center; font-weight: 800; font-size: 32px; color: #222222; letter-spacing: 1.5px; text-transform: uppercase; margin-top: 20px; margin-bottom: 40px;"> Patrocinadores: </h1>
    
    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 60px; width: 100%; margin: 0 auto;">
        
        <div style="display: flex; justify-content: center;">
            <a href="https://ac3e.usm.cl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ site.baseurl}}/assets/img/logo_ac3e_2.png" alt="Logo AC3E" width="300"/>
            </a>
        </div>
        
        <div style="display: flex; justify-content: center;">
            <a href="https://www.synopsys.com" target="_blank" rel="noopener noreferrer">
                <img src="{{ site.baseurl}}/assets/img/synopsys.png" alt="Logo Synopsys" width="350"/>
            </a>
        </div>
        
        <div style="display: flex; justify-content: center;">
            <a href="https://electronica.usm.cl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ site.baseurl}}/assets/img/logo_departamento.png" alt="Logo Departamento de Electrónica" width="350"/>
            </a>
        </div>
        
        <div style="display: flex; justify-content: center;">
            <img src="{{ site.baseurl}}/assets/img/logo_ieee.png" alt="Logo IEEE" width="350"/>
        </div>

    </div>
    <br>
  </div>
</footer>
