<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
		<ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
	
	  <div class="footer-col footer-col-2">
        <!--{%- include social.html -%}-->
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | newline_to_br -}}</p>
      </div>
    </div>
	
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-0">
			<a href="https://chipusm.github.io/ChipUSM/">
				<img src="{{ site.baseurl}}/assets/img/logo_chipusm.png" alt="Logo ChipUSM" width="300"/>
			</a>
		</div>
    </div>
	
	<!--
	Organizadores:
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-1">
			<a href="https://chipusm.github.io/ChipUSM/">
				<img src="{{ site.baseurl}}/assets/img/logo_chipusm.png" alt="Logo ChipUSM" width="300"/>
			</a>
		</div>
		<div class="logos-col logos-col-1">
			<a href="https://ieee-cas.org/">
				<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="350"/>
			</a>
		</div>
    </div>
	
	Patrocinadores:
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-2">
			<a href="https://www.ieee.org/">
				<img src="{{ site.baseurl}}/assets/img/logo_ieee.png" alt="Logo IEEE" width="200"/>
			</a>
		</div>
		<div class="logos-col logos-col-2">
			<a href="https://electronica.usm.cl/">
				<img src="{{ site.baseurl}}/assets/img/logo_departamento.png" alt="Logo Departamento de Electrónica" width="250"/>
			</a>
		</div>
		<div class="logos-col logos-col-2">
			<a href="https://ingenieria2030.usm.cl/">
				<img src="{{ site.baseurl}}/assets/img/logo_ing2030.png" alt="Logo Ingeniería 2030 USM" width="250"/>
			</a>
		</div>
    </div>
    <div class="footer-col-wrapper" align="right">
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="250"/>
		</div>
		<div class="logos-col logos-col-2">
			<a href="https://ac3e.usm.cl/">
				<img src="{{ site.baseurl}}/assets/img/logo_ac3e_2.png" alt="Logo AC3E" width="200"/>
			</a>
		</div>
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="250"/>
		</div>
    </div>
	
	Colaboradores:
    <div class="footer-col-wrapper">
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_rama_bicolor.png" alt="Logo Rama IEEE" width="250"/>
		</div>
		<div class="logos-col logos-col-2">
			<a href="https://eds.ieee.org/">
				<img src="{{ site.baseurl}}/assets/img/logo_eds.png" alt="Logo EDS" width="180"/>
			</a>
		</div>
		<div class="logos-col logos-col-2">
			<img src="{{ site.baseurl}}/assets/img/logo_cass.png" alt="Logo CAS" width="250"/>
		</div>
    </div>
	-->
  </div>

</footer>
